.banner .center-wrap .banner-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 296px;
    height: 100%;
    left: 50%;
    margin-left: -576px;
}

.banner .center-wrap .banner-nav>ul {
    height: 100%;


}

.banner .center-wrap .banner-nav>ul>li {

    position: relative;
    height: 16.6666667%;
    opacity: 0.5;
    background: #000000;
    border: #FFFFFF .5px solid;
    box-sizing: border-box;
    display: block;
    overflow: hidden;

}

.banner .center-wrap .banner-nav>ul>li:hover {

    opacity: 0.70;

}

.banner .center-wrap .banner-nav>ul>li dl {
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    margin-left: 42px;
    margin-right: 62px;
}

.banner .center-wrap .banner-nav>ul>li dl dt {
    font-size: 18px;
    color: #FFFFFF;
}

.banner .center-wrap .banner-nav>ul>li dl dd {
    font-size: 14px;
    color: #FFFFFF;

}

.banner .center-wrap .banner-nav>ul>li span {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #00ffc8;
    top: 50%;
    margin-top: -14px;
    margin-left: 12px;
}

.banner .center-wrap .banner-nav>ul>li em {

    position: absolute;
    width: 16px;
    height: 16px;
    right: -1px;
    margin-right: 8px;
    font-size: 16px;
    color: white;
    top: 50%;
    margin-top: -8px;
    margin-left: 12px;
}