.banner .nav-arrow-left {
    position: absolute;
    width: 32px;
    height: 44px;
    top: 50%;
    left: 65px;
    opacity: 0.5;
    background: #000000;

}

.banner .nav-arrow-left a {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    font-size: 26px;
    color: white;

}

.banner .nav-arrow-right {
    position: absolute;
    width: 32px;
    height: 44px;
    opacity: 0.5;
    top: 50%;
    right:65px;
    background: #000000;

}

.banner .nav-arrow-right a {

    position: absolute;
    top: 50%;
    margin-top: -14px;
    padding-left:2px;
    font-size: 26px;
    color: white;

}